<div class="container-fluid content-section contact">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h2>Contact</h2>

        <table>
          <tr>
            <td class="contact-table-cell">Email</td>
            <td class="contact-table-cell"><a href="mailto:walzer.tan.wedding@gmail.com">walzer.tan.wedding@gmail.com</a></td>
          </tr>

          <tr>
            <td class="contact-table-cell">Roger's cell</td>
            <td class="contact-table-cell">510-847-8081</td>
          </tr>

          <tr>
            <td class="contact-table-cell">Lissa's cell</td>
            <td class="contact-table-cell">425-358-0638</td>
          </tr>
        </table>
    </div>
    <div class="col-lg-1"></div>

</div>
