<div class="container-fluid location">
    <div class="col-md-6 map">
        <div class="map-container">
            <h3>Ceremony</h3>
            <h4 class="text-primary">tbd pm</h4>
            <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2687.453054421141!2d-122.30880398455729!3d47.65619449254414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490148d152eb78f%3A0x5d9e020c09e1ee7c!2sGrieg+Garden!5e0!3m2!1sen!2sus!4v1450126507698" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br>
            <br>
            <p>
                <h4 class="text-primary">Grieg Garden </h4>
                Univeristy of Washington <br>
                Seattle, WA <br>
            </p>
        </div>
    </div>
    <div class="col-md-6 map">
        <div class="map-container">
            <h3>Reception</h3>
            <h4 class="text-primary">tbd pm</h4>
            <div class="map-overlay" onClick="style.pointerEvents='none'"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1344.1479115347772!2d-122.29550866694102!3d47.639817971047755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x549014c6f6b93c81%3A0xaac2ed9e74ca4754!2sArboretum+Foundation!5e0!3m2!1sen!2sus!4v1450126768774" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            <br>
            <br>
            <p>
                <h4 class="text-primary">Graham Visitor's Center </h4>
                Washington Park Arboretum <br>
                Seattle, WA <br>

            </p>
        </div>
    </div>
</div>
