<div class="container-fluid lodging">

  <h2>Where to Stay</h2>

  <!-- AIRBNB -->
  <a href="www.airbnb.com/c/rtan18?s=8" target="_blank">
    <img class="airbnb lodging-logo" src="/img/airbnb_horizontal_lockup_web_changed.png" alt="airbnb" />
  </a>
  <div class="lodging-title">Airbnb</div>

  <p>
    Support Roger's employer and stay at an Airbnb! Airbnb is a great alternative to traditional hotels, and can be an inexpensive option for staying in Seattle during high season. If you're unfamiliar with how Airbnb works, feel free to <a href="mailto:rogerntan@gmail.com">email Roger</a> who would be more than happy to help.
  </p>

  <!-- BELLEVUE HYATT -->

  <a href="https://resweb.passkey.com/go/WalzerTanWedding2016" target="_blank">
    <img class="hyatt lodging-logo" src="/img/hyatt-logo.png" alt="Hyatt" />
  </a>
  <div class="lodging-title">Bellevue Hyatt</div><a href="https://www.google.com/maps/place/Hyatt+Regency+Bellevue+on+Seattle's+Eastside/@47.618256,-122.203356,17z/data=!3m2!4b1!5s0x54906c8f1811c361:0x7edf0a3a833e395c!4m2!3m1!1s0x54906c8f16498957:0x83435bd9679eaf7" target="_blank">(map)</a>
  <br><br>
  <p>
    Conveniently located in downtown Bellevue surrounded by plenty of dining and shopping options,
    the Bellevue Hyatt is a quick trip across Lake Washington from the wedding venues.
    We've arranged a group block at the Bellevue Hyatt from Thursday 8/4 to Monday 8/8 at a discounted price of $189/night.
    You must book on our Passkey URL (click on the image), and you must book by July 5th, 2016.
  </p>
  <br><br>

  <!-- WATERTOWN SEATTLE -->

  <a href="http://www.watertownseattle.com/" target="_blank">
    <img class="watertown lodging-logo" src="/img/watertown-hotel.png" alt="Watertown Hotel" />
  </a>
  <br><br>
  <div class="lodging-title">Watertown Hotel</div><a href="https://www.google.com/maps/place/Watertown+Hotel/@47.6595433,-122.3196224,17z/data=!3m1!4b1!4m2!3m1!1s0x549014f45c8d7335:0x43198f06065ec430" target="_blank">(map)</a>
  <br><br>
  <p>
    Located a few blocks from the UW campus, the Watertown hotel is within walking distance of the wedding ceremony site,
    and a quick taxi/uber ride to the reception. We've secured a discount of 15% for guests of our wedding.
    Simply enter the code "WED" when booking on the site.
  </p>

</div>
