<div class="modal fade" tabindex="-1" role="dialog" id="rsvpModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Welcome <%= user.user_id %> Family!</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" action="/rsvp" method="post">
              <p>Please indicate if you are accepting or declining.</p>
              <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-1">
                    <div class="radio">
                        <label>
                            <input type="radio" name="rsvpRadio" value="accept" checked="">
                            Accepting
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="rsvpRadio" value="decline">
                            Declining
                        </label>
                    </div>
                  </div>

              </div>
              <p>If accepting, please enter the names of all attendees.</p>
              <% for (var i = 0; i < user.atendees; i++) { %>
                  <div class="form-group">
                      <div class="col-lg-10 col-lg-offset-1">
                          <input type="text" class="form-control" name="person" placeholder="Name">
                      </div>
                  </div>
              <% } %>
              <p>Anything to add?</p>
              <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-1">
                      <textarea name="notes" rows="5" cols="40" placeholder="Comments"></textarea>
                  </div>
              </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
