<div class="container-fluid content-section registry">

  <h2>Wedding Registry</h2>

  <p>We're registered at <a href="https://www.amazon.com/wedding/registry/34AGV6KV8PD6Z" target="_blank">Amazon<a/>.</p>
</div>
