<div class="container-fluid content-section registry">

  <h2>Wedding Registry</h2>

  <p>We're registered at <a href="http://www1.macys.com/registry/wedding/guest/?registryId=2304706" target="_blank">Macy's<a/>.</p>
</div>

