<div class="container-fluid content-section things-to-do">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <h2>Things to Do</h2>

        <p>
          If you're new to the Seattle area, you're in luck--there's no place on Earth quite like summer in Seattle.
          With perfect temperatures and lots of sunlight, the city is so alive and green and is a great place
          to explore. The annual Seafair festival is the weekend of our wedding, and the Blue Angels will be
          flying around Seattle both days, so keep an eye out for them. We've compiled a list of some things
          that would be fun for locals and tourists alike.
        </p>

        <!-- Do -->
        <div class="col-md-6">
          <h3>See &amp; Do</h3>
          <ul>
            <li>Space Needle (duh!)</li>
            <li>Chihuly Museum of Glass</li>
            <li>Experience Music Project/SciFi Museum</li>
            <li>Boeing Factory Tour</li>
            <li>Pike Place Market</li>
            <li>Ballard Locks/Fish Ladder</li>
            <li>Pioneer Square Underground Tour</li>
            <li>Ride a ferry in the Puget Sound</li>
            <li>Picnic in Volunteer Park</li>
            <li>Seattle Public Library</li>
          </ul>
        </div>

        <!-- Eat -->
        <div class="col-md-6">
          <h3>Eat &amp; Drink</h3>
          <ul>
            <li>Starbucks Roastery (Cap Hill)</li>
            <li>"First" Starbucks (Pike Place)</li>
            <li>Stumptown Coffee</li>
            <li>Zigzag Bar</li>
            <li>Din Tai Fung (xiao long bao)</li>
            <li>Spinasse (Italian food)</li>
            <li>Altura (fancy food)</li>
            <li>Thai Tom (Thai)</li>
            <li>Serious pie (thin crust pizza)</li>
            <li>Toulouse Petite (New Orleans/brunch)</li>
            <li>Molly Moons (ice cream)</li>
          </ul>
        </div>

        <p>For more, check out <a href="https://hackpad.com/Airbnb-Seattle-Travel-Guide-pZS3rC3D1MI" target="_blank">
            this list</a> compiled by Airbnb employees.</p>
    </div>
    <div class="col-lg-1"></div>
</div>
