.picture {
    background: url("../img/main_pic.jpg");
    background-size: cover;
    height: 100vh;
    box-shadow: 0 4px 2px -2px gray;
}
.location {
    height: 100vh;
}
.navbar {
    margin-bottom: 0px;
}

.stuff {
    height: 100vh;
}

.bottom {
    margin-top: 50%;

}
.panel {
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
}
h1 {
    font-weight: normal;
}
.map {
    margin-top: 4%;
    text-align: center;
}
.hotels {
    height: 100vh;
    background-color: #CBCADE;
}

.airbnb {
    width: 200px;
}
