.picture {
    background: url("../img/main_pic-min.jpg");
    background-size: cover;
    height: 100vh;
    box-shadow: 0 4px 2px -2px gray;
}
.navbar {
    margin-bottom: 0px;
}

.bottom {
    margin-top: 50%;

}
.panel {
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
}
h1 {
    font-weight: normal;
}
.map-container {
    width: 450px;
    margin: 0 auto;
}
.map-overlay {
    background:transparent;
    position:relative;
    width:100%;
    height:350px; /* your iframe height */
    top:350px;  /* your iframe height */
    margin-top:-350px;  /* your iframe height */
}
.map {
    margin-top: 4%;
    text-align: center;
}
.lodging-title {
    font-size: 26px;
}
.lodging-logo {
    max-height: 100px;
    max-width: 250px;
}
.lodging-logo.airbnb {
    margin-left: -25px;
}
.contact-table-cell {
    font-size: 16px;
    padding: 10px;
}
.content-section {
    padding-top: 30px;
    padding-bottom: 30px;
}
.content-section:nth-of-type(even) {
    background-color: #CBCADE;
}
