.picture {
    background: url("../img/main_pic.jpg");
    background-size: cover;
    height: 100vh;
}
.location {
    height: 100vh;
}
.navbar {
    margin-bottom: 0px;
}

.stuff {
    height: 100vh;
}

.bottom {
    margin-top: 80%;

}
.panel {
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
}
h1 {
    font-weight: normal;
}
.map {
    margin-top: 4%;
    text-align: center;
}
